body{
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'raleway',sans-serif;
    color:#fff;
}
.banner{
    height: 100vh;
    width: 100%;
    background:url('img/background2.jfif');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;


}
.banner .navbar{
    margin-top: 2%;
}
.banner .navbar-brand{
    color: #000;
    font-size: 1.8em;
    font-weight: 700;
    margin-left: 2%;

}
.banner .nav{
    margin-right: 5%;
}
.banner .nav li a{
    color: #000;
    font-size: 1.2em;
}
.banner .info{
    margin-top: 15%;
    color: #000;
    transform: translateY(-15%);

}
.banner .info h1{
    font-size: 2.5em;
    font-weight: 700;
    color: #000;
    letter-spacing: 2px;
}
.banner .info p{
    font-size: 1.8em;
    font-weight: 500;
    color: black;
    letter-spacing: 2px;
}
.banner .info a{
    margin-left: 50%;
    transform: translateX(-50%);
    color: #000;
    background: #e91d43;
    padding: 10ox 20px;
    font-size: 1.5em;
    font-weight: 100;
}
.banner .info a:hover{
    background: lightgray;
}

.about-1{
    padding: 35px;
    margin: 30px;
    
}
.about-1 h1{
    text-align: center;
    color: black;
    font-weight: bold;
}
.about-1 p{
    text-align: center;
    padding: 3px;
    color:black;
}
.about-item{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: lightgray;
    padding: 80px;
    box-shadow: 0 0 9px rgba(0,0, 0 .6);
}
.about-item i{
    font-size: 43px;
    margin: 0;
}
.about-item h3{
    font-size: 25px;
    margin-bottom: 10px;
}
.about-item hr{
    width: 46px;
    height: 3px;
    background-color: #5fbff9;
    margin: 0 auto;
    border: none;
}
.about-item p{
    margin-top: 20px;
}
.about-item:hover{
    background-color: #5fbff9;
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover p{

    color: #fff;
}
.about-item:hover hr{
    color: #fff;
}
.about-item:hover i{
    transform: translateY(-20px);
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover hr{
    transition: all  400ms ease-in-out;
}
footer{
    background-color: #212226;
    padding: 20px;
}

footer p{
    color: #fff;
}


.get_in_touch{
    max-width: 800px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 10px 30px 0px rgba(0,0,0,0.1);
    padding: 30px;
}
.get_in_touch .title{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 3em;
    line-height: 48px;
    padding-bottom: 20px;
    color: #5543ca;
    background:linear-gradient(to right, #f4524d 0%, #5543ca 100%)
    /* -webkit-backgorund-clip: text; */
}
.contact-form .form-feild{
    position: relative;
    margin: 32px 0;
}
.contact-form .input-text{
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
.contact-form .input-text:focus + .label,
.contact-formc .input-text.not-empty + .label{
    transform: translateY(-24px);
}


.contact-form .input-text:focus{
    outline: none;
}
.contact-form .label{
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    text-transform: capitalize;
    transition: transform 0.2s ease-in-out;
}
.contact-form .submit-btn{
    display: inline-block;
    background-image: linear-gradient(125deg, #a72879 ,#064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}